main {
    background-color: #333; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    width: 100%;
}

ul {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Para que los elementos floten en la barra */
    width: 100%;
}

li {
    float: left; /* Coloca los elementos en línea horizontalmente */
}

li a {
    display: block;
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    padding: 14px 16px; /* Espaciado interno */
    text-decoration: none; /* Quita el subrayado del enlace */
}

li a:hover {
    background-color: #555;
}
